.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #DF2E38;
}

h1,
h2,
ul {
  margin: 1rem;
}

h1 {
  background-color: #C7E8CA;
}




ul {
  list-style: none;
  background-color: #C7E8CA;
}

img {
  padding: 0.4rem;
}

li {
  background-color: #DDF7E3;
}

p {
  padding-bottom: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}